Repository 2lambda123/AzureAD-microsoft-authentication-library-common-for-android, changes with the owners that CODEOWNERS names for each.
All owners: @rpdome, @shahzaibj, @shoatman, @AzureAD/androidleads, @iamgusain, @somalaya, @fadidurah, @p3dr0rv

Add mocked redeemTransferToken
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenHelper.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenRequest.java
  common4j/src/main/com/microsoft/identity/common/java/providers/oauth2/TokenRequest.java
Owners: @rpdome, @shoatman, @AzureAD/androidleads

Implement Acquire Transfer Token flow
  common4j/src/main/com/microsoft/identity/common/java/AuthenticationConstants.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/MicrosoftStsOAuth2Strategy.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenHelper.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenOAuth2Configuration.java
Owners: @rpdome, @shahzaibj, @shoatman, @AzureAD/androidleads

skip calling app check
  common/src/main/java/com/microsoft/identity/common/internal/platform/AndroidPlatformUtil.java
Owners: @rpdome, @AzureAD/androidleads

remove calling app check
  common/src/main/java/com/microsoft/identity/common/internal/platform/AndroidPlatformUtil.java
Owners: @rpdome, @AzureAD/androidleads

trust ltw
  common/src/main/java/com/microsoft/identity/common/internal/broker/BrokerValidator.kt
Owners: @rpdome, @shoatman, @AzureAD/androidleads

Update RemoveFirstPartyAppsTestRule.java
  uiautomationutilities/src/main/java/com/microsoft/identity/client/ui/automation/rules/RemoveFirstPartyAppsTestRule.java
Owners: @somalaya, @fadidurah, @shahzaibj, @iamgusain, @AzureAD/androidleads

Update OneAuthTestApp.java
  uiautomationutilities/src/main/java/com/microsoft/identity/client/ui/automation/app/OneAuthTestApp.java
Owners: @somalaya, @fadidurah, @shahzaibj, @iamgusain, @AzureAD/androidleads

Support password
  LabApiUtilities/src/main/com/microsoft/identity/labapi/utilities/authentication/LabApiAuthenticationClient.java
  LabApiUtilities/src/test/com/microsoft/identity/labapi/utilities/authentication/LabApiAuthenticationClientTest.java
Owners: @shahzaibj, @iamgusain, @fadidurah, @shoatman, @AzureAD/androidleads

initial transfer token generation changes
  common/src/main/java/com/microsoft/identity/common/adal/internal/AuthenticationConstants.java
  common/src/main/java/com/microsoft/identity/common/internal/broker/ipc/BrokerOperationBundle.java
  common4j/src/main/com/microsoft/identity/common/java/AuthenticationConstants.java
  common4j/src/main/com/microsoft/identity/common/java/opentelemetry/SpanName.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/MicrosoftStsOAuth2Strategy.java
Owners: @rpdome, @shahzaibj, @shoatman, @AzureAD/androidleads

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# Repo Code Owners
#--------------------

*       @rpdome @shahzaibj @shoatman @AzureAD/androidleads


# Area Owners
#---------------------

# Interfaces
/common4j/src/main/java/com/microsoft/identity/common/java/interfaces/              @rpdome @shahzaibj @AzureAD/androidleads

# Automation
/common/src/test/                                                                   @shahzaibj @rpdome @iamgusain @AzureAD/androidleads
/common/src/androidTest/                                                            @shahzaibj @rpdome @shoatman @AzureAD/androidleads 
/common4j/src/test/                                                                 @shahzaibj @rpdome @shoatman @iamgusain @AzureAD/androidleads
/uiautomationutilities/src/                                                         @somalaya @fadidurah @shahzaibj @iamgusain @AzureAD/androidleads
/testutils/                                                                         @shahzaibj @shoatman @fadidurah @iamgusain @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/eststelemetry                 @shahzaibj @rpdome @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/logging                       @shahzaibj @rpdome @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/net                           @rpdome @shoatman @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/platform                      @shahzaibj @rpdome @iamgusain @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/providers                     @rpdome @shoatman @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/telemetry                     @shahzaibj @rpdome @AzureAD/androidleads
/common4j/src/test/com/microsoft/identity/common/java/util                          @rpdome @shoatman @AzureAD/androidleads


# AuthSchemes
/common/src/main/java/com/microsoft/identity/common/internal/authscheme             @shahzaibj @AzureAD/androidleads

# Broker
/common/src/main/java/com/microsoft/identity/common/internal/broker                 @rpdome @shoatman @AzureAD/androidleads

# Build
*.gradle                                                                            @shoatman @iamgusain @shahzaibj @AzureAD/androidleads

# Cache
/common/src/main/java/com/microsoft/identity/common/internal/cache/                 @shoatman @iamgusain @AzureAD/androidleads

# Commands
/common/src/main/java/com/microsoft/identity/common/internal/commands               @shoatman @shahzaibj @AzureAD/androidleads
/common4j/src/main/java/com/microsoft/identity/common/java/commands                 @shoatman @shahzaibj @AzureAD/androidleads

# DTOs
/common/src/main/java/com/microsoft/identity/common/internal/dto                    @rpdome @AzureAD/androidleads

# Logging
/common/src/main/java/com/microsoft/identity/common/logging/                        @shahzaibj @AzureAD/androidleads
/common4j/src/main/com/microsoft/identity/common/java/logging/                      @shahzaibj @AzureAD/androidleads

# Migration
/common/src/main/java/com/microsoft/identity/common/internal/migration              @rpdome @shahzaibj @AzureAD/androidleads

# Networking
/common/src/main/java/com/microsoft/identity/common/internal/net                    @shoatman @rpdome @AzureAD/androidleads
/common4j/src/main/java/com/microsoft/identity/common/java/net                      @shoatman @rpdome @AzureAD/androidleads

# Platform
/common/src/main/java/com/microsoft/identity/common/internal/platform               @rpdome @AzureAD/androidleads
/common4j/src/main/java/com/microsoft/identity/common/java/platform                 @rpdome @AzureAD/androidleads

# Pipelines
/azure-pipelines/                                                                   @shoatman @shahzaibj @p3dr0rv @AzureAD/androidleads

# Telemetry
/common/src/main/java/com/microsoft/identity/common/internal/telemetry/             @shahzaibj @AzureAD/androidleads
/common4j/src/main/com/microsoft/identity/common/java/telemetry/                    @shahzaibj @rpdome @AzureAD/androidleads
/common/src/main/java/com/microsoft/identity/common/internal/eststelemetry          @shahzaibj @AzureAD/androidleads
/common4j/src/main/com/microsoft/identity/common/java/eststelemetry/                @shahzaibj @rpdome @AzureAD/androidleads

# Providers
/common4j/src/main/com/microsoft/identity/common/java/providers/                    @rpdome @shoatman @AzureAD/androidleads

# Lab Api
/keyvault                                                                           @shahzaibj @iamgusain @fadidurah @shoatman @AzureAD/androidleads
/labapi                                                                             @shahzaibj @iamgusain @fadidurah @shoatman @AzureAD/androidleads
/LabApiUtilities                                                                    @shahzaibj @iamgusain @fadidurah @shoatman @AzureAD/androidleads
/testutils/src/main/java/com/microsoft/identity/internal/testutils/labutils         @shahzaibj @iamgusain @fadidurah @shoatman @AzureAD/androidleads
