Repository 2lambda123/AzureAD-microsoft-authentication-library-common-for-android, changes with the owners that CODEOWNERS names for each.
All owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman, @p3dr0rv

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Reference: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# Repo Code Owners
#--------------------

*       @AdamBJohnsonx @iambmelt @rpdome @shahzaibj @shoatman


# Area Owners
#---------------------

# Automation
/common/src/test/                                                                   @shahzaibj @rpdome
/common/src/androidTest/                                                            @shahzaibj @rpdome
/common4j/src/test/                                                                 @shahzaibj @rpdome
/uiautomationutilities/src/                                                         @shahzaibj @rpdome
/testutils/                                                                         @shahzaibj @rpdome

# AuthSchemes
/common/src/main/java/com/microsoft/identity/common/internal/authscheme             @iambmelt @AdamBJohnsonx

# Broker
/common/src/main/java/com/microsoft/identity/common/internal/broker                 @rpdome @AdamBJohnsonx

# Build
*.gradle                                                                            @shoatman @AdamBJohnsonx @shahzaibj

# Cache
/common/src/main/java/com/microsoft/identity/common/internal/cache/                 @iambmelt @shoatman 

# Commands
/common/src/main/java/com/microsoft/identity/common/internal/commands               @shoatman @iambmelt @AdamBJohnsonx 

# DTOs
/common/src/main/java/com/microsoft/identity/common/internal/dto                    @iambmelt @AdamBJohnsonx 

# Logging
/common/src/main/java/com/microsoft/identity/common/logging/                        @iambmelt @shahzaibj
/common4j/src/main/com/microsoft/identity/common/java/logging/                      @iambmelt @shahzaibj

# Migration
/common/src/main/java/com/microsoft/identity/common/internal/migration              @iambmelt @rpdome @shahzaibj

# Networking
/common/src/main/java/com/microsoft/identity/common/internal/net                    @AdamBJohnsonx @rpdome

# Platform
/common/src/main/java/com/microsoft/identity/common/internal/platform               @iambmelt @AdamBJohnsonx 

# Pipelines
/azure-pipelines/                                                                   @shoatman @shahzaibj @p3dr0rv

# Telemetry
/common/src/main/java/com/microsoft/identity/common/internal/telemetry/             @shahzaibj @iambmelt
/common/src/main/java/com/microsoft/identity/common/internal/eststelemetry          @shahzaibj @iambmelt
/common4j/src/main/com/microsoft/identity/common/java/telemetry/                    @shahzaibj @iambmelt

Add mocked redeemTransferToken
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenHelper.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenRequest.java
  common4j/src/main/com/microsoft/identity/common/java/providers/oauth2/TokenRequest.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

Implement Acquire Transfer Token flow
  common4j/src/main/com/microsoft/identity/common/java/AuthenticationConstants.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/MicrosoftStsOAuth2Strategy.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenHelper.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/TransferTokenOAuth2Configuration.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

skip calling app check
  common/src/main/java/com/microsoft/identity/common/internal/platform/AndroidPlatformUtil.java
Owners: @iambmelt, @AdamBJohnsonx

remove calling app check
  common/src/main/java/com/microsoft/identity/common/internal/platform/AndroidPlatformUtil.java
Owners: @iambmelt, @AdamBJohnsonx

trust ltw
  common/src/main/java/com/microsoft/identity/common/internal/broker/BrokerValidator.kt
Owners: @rpdome, @AdamBJohnsonx

Update RemoveFirstPartyAppsTestRule.java
  uiautomationutilities/src/main/java/com/microsoft/identity/client/ui/automation/rules/RemoveFirstPartyAppsTestRule.java
Owners: @shahzaibj, @rpdome

Update OneAuthTestApp.java
  uiautomationutilities/src/main/java/com/microsoft/identity/client/ui/automation/app/OneAuthTestApp.java
Owners: @shahzaibj, @rpdome

Support password
  LabApiUtilities/src/main/com/microsoft/identity/labapi/utilities/authentication/LabApiAuthenticationClient.java
  LabApiUtilities/src/test/com/microsoft/identity/labapi/utilities/authentication/LabApiAuthenticationClientTest.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman

initial transfer token generation changes
  common/src/main/java/com/microsoft/identity/common/adal/internal/AuthenticationConstants.java
  common/src/main/java/com/microsoft/identity/common/internal/broker/ipc/BrokerOperationBundle.java
  common4j/src/main/com/microsoft/identity/common/java/AuthenticationConstants.java
  common4j/src/main/com/microsoft/identity/common/java/opentelemetry/SpanName.java
  common4j/src/main/com/microsoft/identity/common/java/providers/microsoft/microsoftsts/MicrosoftStsOAuth2Strategy.java
Owners: @AdamBJohnsonx, @iambmelt, @rpdome, @shahzaibj, @shoatman
